/**
* @file: CSS Matrix
* @version: 1.0.0
* @theme: Classic
*/

/* wpForo Dynamic CSS Document */

#wpforo-wrap *::selection{color: #000000; background: #666666;}
#wpforo-wrap *::-moz-selection{color: #000000; background: #666666;}

#wpforo-wrap { color: #333333; background: #FFFFFF }
#wpforo-wrap .wpforo-subforum i{ color:#999999; }
#wpforo-wrap #footer { background:#E6E6E6;}
#wpforo-wrap .wpf-p-error { background-color: #E6E6E6; color: #333333; }
#wpforo-wrap .wpf-res-menu { color: #FFFFFF; }
#wpforo-wrap #wpforo-menu { background-color:#343434; }
#wpforo-wrap #wpforo-menu li { border-right:#777777 1px solid; }
#wpforo-wrap #wpforo-menu li a { color: #FFFFFF; }

#wpforo-wrap .wpforo-active,
#wpforo-wrap #wpforo-menu li:hover,
#wpforo-wrap #wpforo-menu .current-menu-ancestor,
#wpforo-wrap #wpforo-menu .current-menu-parent,
#wpforo-wrap #wpforo-menu .current_page_item { background-color: #666666!important; }

#wpforo-load { color: #666666; }
#wpforo-load i{ color: #666666!important; }

#wpforo-wrap .wpf-search input[type="text"]{ color: #343434; background: transparent; }
#wpforo-wrap .wpf-search input[type="text"]:focus{ background: #F5F5F5; }
#wpforo-wrap .wpf-search i{ color: #666666; }

#wpforo-wrap .wpf-bar-right .wpf-alerts{color: #999999; border-right: 1px solid #777777; }
#wpforo-wrap .wpf-bar-right .wpf-alerts i{color:#999999;text-shadow: 0 0 5px #000000;}
#wpforo-wrap .wpf-bar-right .wpf-alerts i:hover{color: #CCCCCC;}
#wpforo-wrap .wpf-bar-right .wpf-alerts.wpf-new i{color: #FF812D;}
#wpforo-wrap .wpf-bar-right .wpf-alerts.wpf-new i:hover{text-shadow: 0 0 20px #000000;}
#wpforo-wrap .wpf-bar-right .wpf-alerts-count{color: #FF812D; text-shadow: 0 0 5px #000000;}

#wpf-widget-profile .wpf-widget-alerts{color: #999999; border-right: none; }
#wpf-widget-profile .wpf-widget-alerts i{color:#999999;}
#wpf-widget-profile .wpf-widget-alerts i:hover{color: #CCCCCC;}
#wpf-widget-profile .wpf-widget-alerts.wpf-new i{color: #FF812D;}
#wpf-widget-profile .wpf-widget-alerts.wpf-new i:hover{}
#wpf-widget-profile .wpf-widget-alerts .wpf-alerts-count{color: #FF812D;}

#wpforo-wrap .wpf-notifications{background: #EFEFEF; border-top: 2px solid #343434; border-bottom:5px solid #343434;}
#wpforo-wrap .wpf-notifications .wpf-notification-head{color: #343434; border-bottom: 2px solid #FF812D;}
#wpforo-wrap .wpf-notifications .wpf-notification-content{ color: #343434;}
#wpforo-wrap .wpf-notifications .wpf-notification-content li{border-bottom: 1px solid #dfdfdf;}
#wpforo-wrap .wpf-notifications .wpf-notification-content li .wpf-nleft i{color: #666666; text-shadow: 0 0 3px #CCCCCC;}
#wpforo-wrap .wpf-notifications .wpf-notification-content .wpf-ndesc{color:#666666;}
#wpforo-wrap .wpf-notifications .wpf-notification-content li:hover{background: #F5F5F5;}
#wpforo-wrap .wpf-notifications .wpf-notification-content li:hover .wpf-nleft i{color: #FF812D;}

#wpf-widget-profile .wpf-notifications{background: #EFEFEF; border-top: 2px solid #343434; border-bottom:5px solid #343434;}
#wpf-widget-profile .wpf-notifications .wpf-notification-head{color: #343434; border-bottom: 2px solid #FF812D;}
#wpf-widget-profile .wpf-notifications .wpf-notification-content{ color: #343434;}
#wpf-widget-profile .wpf-notifications .wpf-notification-content li{border-bottom: 1px solid #dfdfdf;}
#wpf-widget-profile .wpf-notifications .wpf-notification-content li .wpf-nleft i{color: #666666; text-shadow: 0 0 3px #CCCCCC;}
#wpf-widget-profile .wpf-notifications .wpf-notification-content .wpf-ndesc{color:#666666;}
#wpf-widget-profile .wpf-notifications .wpf-notification-content li:hover{background: #F5F5F5;}
#wpf-widget-profile .wpf-notifications .wpf-notification-content li:hover .wpf-nleft i{color: #FF812D;}


#wpforo-wrap #wpforo-poweredby{ background-color:#343434; color: #FFFFFF; }
#wpforo-wrap #wpforo-title{ color:#333333;}
#wpforo-wrap #wpforo-description{color:#343434;border-bottom:1px solid #CCCCCC;}

#wpforo-wrap a { color: #333333; }
#wpforo-wrap a:visited { color: #333333; }
#wpforo-wrap a:hover{ color: #888888;}
#wpforo-wrap a:active { color: #888888; }

#wpforo-wrap .wpflink { color: #333333; }
#wpforo-wrap .wpflink:hover { color: #888888; }

#wpforo-wrap pre { border:#E6E6E6 1px solid; background:#DFF4FF; }

.wpfcl-a{ color:#888888!important; }
.wpfbg-a{ background-color:#888888!important; }
.wpfcl-b{ color:#666666!important; }
.wpfbg-b{ background-color:#666666!important; }
.wpfcl-0{ color:#999999!important; }
.wpfbg-0{ background-color:#999999!important; }
.wpfcl-1{ color:#343434!important; }
.wpfbg-1{ background-color:#343434!important; }
.wpfcl-2{ color:#777777!important; }
.wpfbg-2{ background-color:#777777!important; }
.wpfcl-3{ color:#FFFFFF!important; }
.wpfbg-3{ background-color:#FFFFFF!important; }
.wpfcl-4{ color:#7EEA8D!important;}
.wpfbg-4{ background-color:#7EEA8D!important; }
.wpfcl-5{ color:#FF812D!important; }
.wpfbg-5{ background-color:#FF812D!important; }
.wpfcl-6{ color:#777777!important; }
.wpfbg-6{ background-color:#777777!important; }
.wpfcl-7{ color:#E6E6E6!important; }
.wpfbg-7{ background-color:#E6E6E6!important; }
.wpfcl-8{ color:#4DCA5C!important; }
.wpfbg-8{ background-color:#4DCA5C!important; }
.wpfcl-9{ color:#F5F5F5!important; }
.wpfbg-9{ background-color:#F5F5F5!important; }

#wpforo-wrap .author-rating {  border: 1px solid #E6E6E6; background: #F5F5F5; }
#wpforo-wrap .wpf-author-nicename{ color:#777777;}
#wpforo-wrap .wpforo-admin-note{ border: 1px solid #E6E6E6; background: #FFFFFF; }

#wpforo-wrap .wpf-breadcrumb .wpf-root{ border-left:1px solid #666666; }
#wpforo-wrap .wpf-breadcrumb a.wpf-end { background: transparent!important; }
#wpforo-wrap .wpf-breadcrumb a.wpf-end:hover{ background: transparent!important; }
#wpforo-wrap .wpf-breadcrumb a { color:#666666;}
#wpforo-wrap .wpf-breadcrumb div:hover{ background:#F5F5F5; }
#wpforo-wrap .wpf-breadcrumb div:hover:after { background:#F5F5F5; }
#wpforo-wrap .wpf-breadcrumb div.active{ background:#F5F5F5; color:#555555; }
#wpforo-wrap .wpf-breadcrumb div.active:after { background:#F5F5F5; }
#wpforo-wrap .wpf-breadcrumb div:after { background: #FFFFFF; }
#wpforo-wrap .wpf-breadcrumb div.active:after { background: #F5F5F5; }

#wpforo-wrap .wpforo-post .wpforo-post-content img,
#wpforo-wrap .wpforo-revision-body img{ border:#E6E6E6 1px solid; background:#FFFFFF; }
#wpforo-wrap .wpforo-post blockquote,
#wpforo-wrap .wpforo-revision-body blockquote{ border:#999999 1px dotted; background:#E6E6E6; }
#wpforo-wrap .wpforo-post .wpforo-post-code,
#wpforo-wrap .wpforo-revision-body .wpforo-post-code{ border:#E6E6E6 1px solid; background:#E6E6E6; }
#wpforo-wrap .wpforo-post code,
#wpforo-wrap .wpforo-revision-body code{ border:#E6E6E6 1px solid; background:#E6E6E6; }
#wpforo-wrap .wpforo-post .wpforo-post-code-title,
#wpforo-wrap .wpforo-post .wpforo-post-code-title{ border-bottom:#E6E6E6 1px solid;}
#wpforo-wrap .wpforo-post .wpforo-post-attachments{ border:#FFFFFF 1px dotted; }
#wpforo-wrap .wpforo-post .wpforo-post-attachments img{border:#E6E6E6 2px solid; background:#FFFFFF; }
#wpforo-wrap .wpforo-post .wpforo-post-signature{ border-top:#888888 1px dotted; color:#777777;}
#wpforo-wrap .wpforo-post .wpforo-membertoggle i{ color:#333333;}
#wpforo-wrap .wpf-mod-message{color:#FF812D}

#wpforo-wrap .wpforo-topic-badges{ background-color:#F5F5F5; }
#wpforo-wrap .wpf-unread-forum .wpforo-forum-icon i,
#wpforo-wrap .wpforo-subforum .wpf-unread-forum i{ color:#888888!important;}


#wpforo-wrap .wpfl-1 .wpforo-category{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-1 .cat-title{ color:#FFFFFF; }
#wpforo-wrap .wpfl-1 .cat-stat-posts { color:#FFFFFF; }
#wpforo-wrap .wpfl-1 .cat-stat-topics {color:#FFFFFF; }
#wpforo-wrap .wpfl-1 .forum-wrap{ border-top:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-1 .wpforo-forum{ background-color:#F5F5F5; }
#wpforo-wrap .wpfl-1 .wpforo-forum-description{color:#777777; }
#wpforo-wrap .wpfl-1 .wpforo-subforum{ border-top:#DADADA 1px dotted; }
#wpforo-wrap .wpfl-1 .wpforo-forum-footer{ color:#999999; }
#wpforo-wrap .wpfl-1 .wpforo-last-topics{ background-color:#FFFFFF; }
#wpforo-wrap .wpfl-1 .wpforo-last-topics-tab{ color:#343434; }
#wpforo-wrap .wpfl-1 .wpforo-last-topics-list{ color:#343434; border-bottom:#CCCCCC 0 solid; }

	#wpforo-wrap .wpfl-1 .wpforo-topic-head{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
	#wpforo-wrap .wpfl-1 .head-title{ color:#FFFFFF; }
	#wpforo-wrap .wpfl-1 .head-stat-posts { color:#FFFFFF; }
	#wpforo-wrap .wpfl-1 .head-stat-views { color:#FFFFFF; }
	#wpforo-wrap .wpfl-1 .topic-wrap{ border-top:#CCCCCC 1px solid; }
	#wpforo-wrap .wpfl-1 .wpforo-topic{ background-color:#F5F5F5; }
	#wpforo-wrap .wpfl-1 .wpforo-topic-info{ color:#343434; }
	#wpforo-wrap .wpfl-1 .wpforo-topic-stat-posts{ color:#343434; }
	#wpforo-wrap .wpfl-1 .wpforo-topic-stat-views{ color:#343434; }
	#wpforo-wrap .wpfl-1 .wpforo-last-posts{ background-color:#FFFFFF; }
	#wpforo-wrap .wpfl-1 .wpforo-last-posts-tab{ color:#343434; }
	#wpforo-wrap .wpfl-1 .wpforo-last-posts-list{ color:#343434; border-bottom:#CCCCCC 0 solid; }

		#wpforo-wrap .wpfl-1 .post-wrap{ border-top:none; border-bottom:#E6E6E6 3px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post-head{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post{ background-color:#F5F5F5; }
		#wpforo-wrap .wpfl-1 .wpforo-post .wpf-right .wpforo-post-content-top{ border-bottom:1px solid #E6E6E6; }
		#wpforo-wrap .wpfl-1 .wpforo-post .wpf-left .avatar{ background:#FFFFFF; border:#E6E6E6 2px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post .wpf-left .author-rating{ border:1px solid #E6E6E6; background:#F5F5F5; }
		#wpforo-wrap .wpfl-1 .wpforo-post .bottom { border-top:#E6E6E6 1px solid; }
		#wpforo-wrap .wpfl-1 .wpforo-post .bottom .bleft a{ color:#FF812D; }

#wpforo-wrap .wpfl-2 .wpforo-category{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-2 .cat-title{ color:#FFFFFF; }
#wpforo-wrap .wpfl-2 .cat-lastpostinfo{ color:#FFFFFF; }
#wpforo-wrap .wpfl-2 .forum-wrap{ border-top:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-2 .wpforo-forum{ background-color:#F5F5F5;}
#wpforo-wrap .wpfl-2 .wpforo-forum-icon{ color:#343434; }
#wpforo-wrap .wpfl-2 .wpforo-forum-info{ color:#343434; }
#wpforo-wrap .wpfl-2 .wpforo-subforum{  border-top:#DADADA 1px dotted;}
#wpforo-wrap .wpfl-2 .wpforo-forum-stat{ color:#FF812D; }
#wpforo-wrap .wpfl-2 .wpforo-last-post{ color:#343434; }
#wpforo-wrap .wpfl-2 .wpforo-last-post-avatar{ color:#343434 }
#wpforo-wrap .wpfl-2 .wpforo-last-post-avatar img{ background:#FFFFFF; border:1px solid #CCCCCC; }

	#wpforo-wrap .wpfl-2 .wpforo-topic-head{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
	#wpforo-wrap .wpfl-2 .head-title{ color:#FFFFFF;}
	#wpforo-wrap .wpfl-2 .head-stat-posts { color:#FFFFFF; }
	#wpforo-wrap .wpfl-2 .head-stat-views { color:#FFFFFF; }
	#wpforo-wrap .wpfl-2 .head-stat-lastpost { color:#FFFFFF; }
	#wpforo-wrap .wpfl-2 .topic-wrap{ border-top:#CCCCCC 1px solid; }
	#wpforo-wrap .wpfl-2 .wpforo-topic{ background-color:#F5F5F5; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-avatar{color:#343434; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-avatar img{ background:#FFFFFF; border:1px solid #CCCCCC; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-info{ color:#343434; }
	#wpforo-wrap .wpfl-2 .wpforo-topic-stat-posts{ color:#343434;}
	#wpforo-wrap .wpfl-2 .wpforo-topic-stat-views{ color:#343434;}
	#wpforo-wrap .wpfl-2 .wpforo-topic-stat-lastpost{ color:#343434;}

		#wpforo-wrap .wpfl-2 .post-wrap{ border-top:#E6E6E6 1px solid;  }
		#wpforo-wrap .wpfl-2 .wpforo-post-head{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
		#wpforo-wrap .wpfl-2 .wpforo-post{ background-color:#FFFFFF; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-right{ background:#F5F5F5; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-right .wpforo-post-content-bottom{ border-top:#FFFFFF 1px solid; background:#FFFFFF; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-left .avatar{ background:#FFFFFF; border:#E6E6E6 2px solid; }
		#wpforo-wrap .wpfl-2 .wpforo-post .wpf-right .wpforo-post-content-bottom .cbleft a{color:#FF812D;}

#wpforo-wrap .wpfl-3 .wpforo-category{ background-color: #666666;border-bottom:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-3 .cat-title{ color:#FFFFFF; }
#wpforo-wrap .wpfl-3 .cat-stat-posts { color:#FFFFFF; }
#wpforo-wrap .wpfl-3 .cat-stat-answers { color:#FFFFFF; }
#wpforo-wrap .wpfl-3 .cat-stat-questions { color:#FFFFFF; }
#wpforo-wrap .wpfl-3 .forum-wrap{ border-top:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-3 .wpforo-forum{ background-color:#F5F5F5; }
#wpforo-wrap .wpfl-3 .wpforo-forum-icon{ color:#343434; }
#wpforo-wrap .wpfl-3 .wpforo-forum-info{ color:#343434; }
#wpforo-wrap .wpfl-3 .wpforo-subforum{ border-top:#DADADA 1px dotted; }
#wpforo-wrap .wpfl-3 .wpforo-forum-footer{ color:#999999; }
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-posts{color:#343434;}
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-answers{ color:#343434; }
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-questions{color:#343434;}
#wpforo-wrap .wpfl-3 .wpforo-last-topics{ background-color:#FFFFFF; }
#wpforo-wrap .wpfl-3 .wpforo-last-topics-tab{ color:#343434; }
#wpforo-wrap .wpfl-3 .wpforo-last-topics-list{ color:#343434; border-bottom:#CCCCCC 0 solid; }
#wpforo-wrap .wpfl-3 .wpforo-last-topic-posts{ background:#F5F5F5; }
#wpforo-wrap .wpfl-3 .wpforo-last-topic .votes{ background:#F5F5F5; }
#wpforo-wrap .wpfl-3 .wpforo-last-topic .answers{ background:#F5F5F5;  }
#wpforo-wrap .wpfl-3 .wpforo-last-topic .views{background:#F5F5F5; }

	#wpforo-wrap .wpfl-3 .wpforo-topic-head{ background-color: #666666; border-bottom:#CCCCCC 2px solid; }
	#wpforo-wrap .wpfl-3 .head-title{ color:#FFFFFF; }
	#wpforo-wrap .wpfl-3 .head-stat-posts { color:#FFFFFF; }
	#wpforo-wrap .wpfl-3 .head-stat-lastpost { color:#FFFFFF; }
	#wpforo-wrap .wpfl-3 .topic-wrap{ border-top:#FFFFFF 1px solid; border-bottom:#E6E6E6 1px solid; }
	#wpforo-wrap .wpfl-3 .wpforo-topic{ background-color:#F5F5F5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-avatar{ color:#343434; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-avatar img{ background:#FFFFFF; border:1px solid #CCCCCC; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-info{ color:#343434; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-stat-lastpost{ color:#343434; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-status .votes{ background:#F5F5F5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic-status .answers{ background:#F5F5F5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic .views{ background:#F5F5F5; }
	#wpforo-wrap .wpfl-3 .wpforo-topic .count{border-right:1px solid #E6E6E6; border-top:1px solid #E6E6E6;border-left:1px solid #E6E6E6;}
	#wpforo-wrap .wpfl-3 .wpforo-topic .wpforo-label{border-right:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6;border-left:1px solid #E6E6E6;}

		#wpforo-wrap .wpfl-3 .post-wrap{ border-top:#E6E6E6 1px solid;  }
		#wpforo-wrap .wpfl-3 .wpforo-post-head{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
		#wpforo-wrap .wpfl-3 .wpforo-post{ background-color:#FFFFFF; }
		#wpforo-wrap .wpfl-3 .wpforo-tags{ background-color:#F5F5F5; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-left .wpf-toggle-answer{ color:#00A636; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-left .wpf-toggle-not-answer{ color:#999999!important; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right{ background:#F5F5F5; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-content-top{ border-bottom:1px dotted #E6E6E6; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-tool-bar{ border-top:1px dotted #E6E6E6; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-signature-content{ border-top:#888888 1px dotted; }
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-author-data-content{ border:#FFFFFF 1px solid; background:#DFF4FF;}
		#wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-author-data .avatar{ background:#FFFFFF;  border:1px solid #CCCCCC; }
		#wpforo-wrap .wpfl-3 .wpforo-comment{ background-color:#FFFFFF; }
		#wpforo-wrap .wpfl-3 .wpforo-comment .wpf-right{  background:#F5F5F5; }


#wpforo-wrap .wpfl-4 .wpforo-category{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-4 .cat-title{ color:#FFFFFF; }
#wpforo-wrap .wpfl-4 .wpforo-post-head{ background-color: #666666; border-bottom:#CCCCCC 1px solid; }
#wpforo-wrap .wpfl-4 .wpforo-post .wpf-right .wpforo-post-content-top{ border-bottom:1px solid #E6E6E6; }
#wpforo-wrap .wpfl-4 .wpforo-post .wpf-left .avatar{ background:#FFFFFF; border:#E6E6E6 1px solid; }
#wpforo-wrap .wpfl-4 .wpforo-post .wpf-left .author-rating{ border:1px solid #E6E6E6; background:#F5F5F5; }
#wpforo-wrap .wpfl-4 .wpforo-post .bottom { border-top:#E6E6E6 1px solid; }
#wpforo-wrap .wpfl-4 .wpforo-post .bottom .bleft a{ color:#FF812D; }
#wpforo-wrap .wpf-circle{box-shadow: 0 0 1px #999999; }
#wpforo-wrap .wpfl-4 .wpf-head-bar {background: #F5F5F5;border-top: #CCCCCC 1px solid;border-bottom: 1px solid #DADADA;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest,
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-hottest,
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-solved,
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-unsolved{color:#777777;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest:hover{color:#777777;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-hottest:hover{color:#FF812D;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-solved:hover{color:#00A636;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-unsolved:hover{color:#777777;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest:hover,#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest.wpf-active{border-color:#777777;color:#777777;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-hottest:hover,#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-hottest.wpf-active{border-color:#FF812D;color:#FF812D;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-solved:hover,#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-solved.wpf-active{border-color:#00A636;color:#00A636;}
#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-unsolved:hover,#wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-unsolved.wpf-active{border-color:#777777;color:#777777;}
#wpforo-wrap .wpfl-4 .wpf-forums{color: #666666;}
#wpforo-wrap .wpfl-4 .wpf-cat-forum-list .wpf-forum-item{background-color: #F5F5F5; border-bottom: 1px solid #DADADA;}
#wpforo-wrap .wpfl-4 .wpf-cat-forum-list .wpf-forum-item:nth-child(even){ border-left: 3px solid #FFFFFF;}
#wpforo-wrap .wpfl-4 .wpf-cat-forum-list .wpf-forum-item a{color: #343434;}
#wpforo-wrap .wpfl-4 .wpf-cat-forum-list .wpf-forum-item a:hover{color: #888888;}

    #wpforo-wrap .wpfl-4 .wpf-threads .wpf-thread{ border-bottom: 1px solid #CCCCCC; }
    #wpforo-wrap .wpfl-4 .wpf-threads-head{ border-bottom: 1px solid #CCCCCC;}
    #wpforo-wrap .wpfl-4 .wpf-threads-label{border-bottom:1px dashed #999999; color: #666666;}
    #wpforo-wrap .wpfl-4 .wpf-threads-head .wpf-head-box{ color: #666666;}
    #wpforo-wrap .wpfl-4 .wpf-thread-body {color:#343434;}
    #wpforo-wrap .wpfl-4 .wpf-threads .wpforo-tags .wpf-tags-text i{color: #999999;}
    #wpforo-wrap .wpfl-4 .wpf-threads .wpforo-tags tag a{color: #777777;}
    #wpforo-wrap .wpfl-4 .wpf-threads .wpforo-tags tag a:hover{color: #888888;}
    #wpforo-wrap .wpfl-4 .wpf-thread-users a img{background-color: #FFFFFF;}
    #wpforo-wrap .wpft-topic .wpfl-4 .wpf-threads-head{ background: #666666; color: #FFFFFF; border-bottom: 2px solid #CCCCCC; }
    #wpforo-wrap .wpft-topic .wpfl-4 .wpf-threads-head .wpf-head-box{color: #FFFFFF;}
    #wpforo-wrap .wpft-topic .wpfl-4 .wpf-thread{background-color: #F5F5F5;}

        #wpforo-wrap .wpfl-4 .wpforo-topic-meta .wpforo-tags .wpf-tags-title i{color: #777777;}
        #wpforo-wrap .wpfl-4 .wpf-parent-post .wpf-left .wpf-author-posts{color: #777777;}
        #wpforo-wrap .wpfl-4 .wpf-parent-post .wpf-right .wpf-content-head-top{ border-bottom: 1px dashed #CCCCCC;}
        #wpforo-wrap .wpfl-4 .wpf-parent-post .wpf-right .wpf-content-head-top .wpf-post-date{color:#999999;}
        #wpforo-wrap .wpfl-4 .wpf-parent-post .wpf-right .wpf-content-head-bottom .wpf-author{color:#999999;}
        #wpforo-wrap .wpfl-4 .wpf-parent-post .wpf-right .wpf-content{ background: #F5F5F5;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot{ background: #F5F5F5; border-top: #DADADA 1px solid;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-like .wpf-like-count{color: #777777;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-reply .wpf-action{background: #E6E6E6;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-reply:hover .wpf-action{color: #FFFFFF; background: #888888;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons:hover .wpf-action{color: #999999;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action{ color: #CCCCCC; }
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action:hover{ color: #333333;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-public i,
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-public i{color: #888888;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-open i,
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-open i{color: #888888;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-approve i,
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-approve i{color: #888888;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-unsolved i,
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-unsticky i{color: #888888;}
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-unsolved i:hover,
        #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action.wpforo-unsticky i:hover{ color: #333333;}

        #wpforo-wrap .wpfl-4 .wpf-post-replies-bar{color: #777777;}
        #wpforo-wrap .wpfl-4 .wpf-post-replies-bar .wpf-post-replies-info{color: #666666;}
        #wpforo-wrap .wpfl-4 .wpf-post-replies-bar .wpf-prsep{border-bottom: 1px dashed #999999;}
        #wpforo-wrap .wpfl-4 .wpf-post-replies-bar .wpforo-ttgg i{color: #999999;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-head .wpf-author-avatar .avatar{background: #FFFFFF; border: 1px solid #DADADA;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-head .wpf-author .wpforo-memberinfo{color: #777777;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-head .wpf-post-date{color:#999999;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-content{border: 1px solid #DADADA; background-color: #FAFAFA;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-content .wpf-reply-tree{border-bottom: 1px dashed #CCCCCC;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-content .wpf-reply-tree i{color: #999999;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-content .wpf-reply-tree .wpf-tree-item em{color: #777777;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-reply-content .wpf-reply-tree .wpf-tree-item.wpf-starter .avatar{background: #FFFFFF; border: 1px solid #666666;}
        #wpforo-wrap .wpfl-4 .wpf-child-post .wpf-content-foot{border-top: #DADADA 1px solid;}
        #wpforo-wrap .wpfl-4 .wpforo-post .wpforo-post-footer {background: #F5F5F5;}
        #wpforo-wrap .wpfl-4 .wpforo-post .wpforo-post-footer .bleft:not(:empty){ border-top: 1px dashed #CCCCCC;}
        #wpforo-wrap .wpfl-4 .wpforo-post .wpforo-post-footer .bleft a{ color:#FF812D; }
        #wpforo-wrap .wpfl-4 .wpf-replies-sep{border-bottom: 1px solid #CCCCCC; color: #999999;}


#wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu .wpf-pp-menu .wpf-pp-menu-item{background:#FFFFFF; color: #777777; }
#wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu .wpf-pp-menu .wpf-pp-menu-item:hover{background:#FFFFFF; color: #666666;}
#wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu #wpf-pp-forum-menu .wpf-pp-menu-item{color:#666666; border-right:1px solid #666666;}
#wpforo-wrap .wpf-profile-section{color: #666666;}
#wpforo-wrap .wpf-profile-section .wpf-profile-section-head{border-bottom:1px solid #DADADA;}
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-label{ border-bottom:#FFFFFF 1px solid; }
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field{ border-bottom:#FFFFFF 1px solid; }
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field input[type="file"],
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field input[type="password"],
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field input[type="text"],
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field select,
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-field textarea { color:#343434; }
#wpforo-wrap .wpforo-profile-wrap .h-left{  }
#wpforo-wrap .wpforo-profile-wrap .profile-display-name{ color:#333333; }
#wpforo-wrap .wpforo-profile-wrap .profile-stat-data{ color:#333333; }
#wpforo-wrap .wpforo-profile-wrap .profile-stat-data-item{ color:#333333;}
#wpforo-wrap .wpforo-profile-wrap .profile-rating-bar-wrap{background:#FFFFFF;}
#wpforo-wrap .wpforo-profile-wrap .profile-rating-bar-wrap .rating-bar-cell{color:#FFFFFF;}

#wpforo-wrap .wpforo-profile-wrap .h-bottom{ border-bottom: 2px solid #E6E6E6;}
#wpforo-wrap .wpforo-profile-wrap .h-bottom .wpf-profile-menu:hover{ background: #F5F5F5; color:#343434;}
#wpforo-wrap .wpforo-profile-wrap .h-bottom .wpf-profile-menu{ border-right:#FFFFFF 1px solid; }

#wpforo-wrap .wpforo-profile-head .wpforo-active,
#wpforo-wrap .wpforo-profile-head #wpforo-menu a:hover,
#wpforo-wrap .wpforo-profile-head #wpforo-menu .current-menu-ancestor,
#wpforo-wrap .wpforo-profile-head #wpforo-menu .current-menu-parent,
#wpforo-wrap .wpforo-profile-head #wpforo-menu .current_page_item { background-color: #F5F5F5!important; color:#343434!important;}

#wpforo-wrap .wpforo-profile-wrap .h-left .avatar{ background-color:#FFFFFF; border: 2px solid #CCCCCC; }
#wpforo-wrap .wpforo-profile-wrap .wpf-username{ color:#777777; }
#wpforo-wrap .wpforo-profile-wrap .h-header .wpfy {background-color:#FFFFFF;}
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-home .wpf-field-name-about .wpf-label-wrap{border-bottom:1px dotted #CCCCCC;}
#wpforo-wrap .wpforo-profile-wrap .wpforo-profile-home .wpf-field{ border-bottom: 1px solid #E6E6E6;}

#wpforo-wrap .wpforo-activity-content .activity-icon{ border-right:2px solid #FFFFFF; }
#wpforo-wrap .wpforo-sbn-content .sbn-icon{ border-right:2px solid #FFFFFF; }
#wpforo-wrap .wpforo-sbn-content .wpf-sbs-bulk-options{background: #FFFFFF; border: 1px solid #DADADA; border-left: 1px solid #DADADA; }
#wpforo-wrap .wpforo-sbn-content .wpf-sbs-bulk-options ul li{border-bottom: 1px dotted #CCCCCC;}
#wpforo-wrap .wpforo-sbn-content .wpf-sbs-bulk-options .wpf-sbs-cat{background: #F5F5F5;}
#wpforo-wrap .wpforo-sbn-content .wpf-sbs-bulk div{border-bottom: 1px dotted #999999;}
#wpforo-wrap .wpforo-sbn-content .wpf-sbs-bulk-options .wpf-sbs-checkbox{color: #343434;}


#wpforo-wrap input[type="text"], #wpforo-wrap input[type="password"], #wpforo-wrap input[type="email"], #wpforo-wrap textarea, #wpforo-wrap select { border: 1px solid #DADADA; color: #777777; box-shadow: inset 0 1px 4px #E6E6E6; -moz-box-shadow: inset 0 1px 4px #E6E6E6; -webkit-box-shadow: inset 0 1px 4px #E6E6E6; }
#wpforo-wrap input[type="submit"], #wpforo-wrap input[type="reset"], #wpforo-wrap input[type="button"], #wpforo-dialog input[type="submit"], #wpforo-dialog input[type="reset"], #wpforo-dialog input[type="button"]{ background:#666666; color:#FFFFFF; border: 1px solid #777777; }
#wpforo-wrap input[type="submit"]:hover,#wpforo-wrap input[type="reset"]:hover{ background:#777777; }
#wpforo-wrap input[type="button"]:hover{ background:#777777; }
.wpf-button{ background:#666666; color:#FFFFFF!important; border: 1px solid #777777; }
.wpf-button:hover{ background:#777777; }
#wpforo-wrap .wpf-button{ background:#666666; color:#FFFFFF!important; border: 1px solid #777777; }
#wpforo-wrap .wpf-button:hover{ background:#777777; }

#wpforo-wrap .wpf-topic-create{ border: solid #DADADA 1px; background-color:  #F5F5F5 ;}
#wpforo-wrap .wpf-topic-create .wp-editor-tools{ border-bottom:1px #DADADA solid; }
#wpforo-wrap .wpf-topic-create .wp-editor-tabs a.switch-tmce{ border: 1px #DADADA solid; }
#wpforo-wrap .wpf-topic-create .wp-editor-tabs a.switch-html{ border: 1px #DADADA solid; }
#wpforo-wrap .wpf-topic-create .quicktags-toolbar input[type="button"] { background:#666666; color:#FFFFFF; }
#wpforo-wrap .wpf-topic-create .quicktags-toolbar input[type="button"]:hover{ background:#777777!important; }

#wpforo-wrap #wpf-post-create { border: solid #DADADA 1px;  background-color:  #F5F5F5 ;}
#wpforo-wrap .wpf-post-create .wp-editor-tools{ border-bottom:1px #DADADA solid; }
#wpforo-wrap .wpf-post-create .wp-editor-tabs a.switch-tmce{ border: 1px #DADADA solid; }
#wpforo-wrap .wpf-post-create .wp-editor-tabs a.switch-html{ border: 1px #DADADA solid; }
#wpforo-wrap .wpf-post-create .quicktags-toolbar input[type="button"] { background:#666666; color:#FFFFFF; }
#wpforo-wrap .wpf-post-create .quicktags-toolbar input[type="button"]:hover{ background:#777777!important; }

#wpforo-wrap .wpforo-tags .wpf-tags-title{border-right: 1px solid #FFFFFF;}
#wpforo-wrap .wpf-tags a{background:#555555; color:#FFFFFF;}
#wpforo-wrap .wpf-tags a:before{ border-color:transparent #555555 transparent transparent;}
#wpforo-wrap .wpf-tags a:after{ background:#FFFFFF; -moz-box-shadow:-1px -1px 2px #333333; -webkit-box-shadow:-1px -1px 2px #333333; box-shadow:-1px -1px 2px #333333;}
#wpforo-wrap .wpf-topic-tags #wpf_tags{color: #555555;}
#wpforo-wrap.wpf-dark .wpf-topic-tags #wpf_tags{color: #343434;}
#wpforo-wrap .wpf-tags a:active,
#wpforo-wrap .wpf-tags a:visited{color: #FFFFFF;}
#wpforo-wrap .wpf-tags a:hover{background:#666666; color: #FFFFFF;}
#wpforo-wrap .wpf-tags a:hover:before{border-color:transparent #666666 transparent transparent;}

#wpforo-wrap .wpforo-topic-footer{color: #777777;}
#wpforo-wrap .wpf-topic-rel .wpf-rel-wrap{border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;}
#wpforo-wrap .wpf-topic-rel .wpf-no-rel{border-top: 1px solid #E6E6E6;}
#wpforo-wrap .wpf-topic-visitors{border-top: 1px solid #E6E6E6;}
#wpforo-wrap .wpf-topic-navi .wpf-navi-wrap{border-top: #E6E6E6 3px solid;}
#wpforo-wrap .wpf-tags-text i,
#wpforo-wrap .wpf-topic-rel .wpf-rel-title i{color:#777777;}

#wpforo-wrap .wpforo-members-wrap .wpforo-members-content { border:#E6E6E6 1px solid; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-search { border-bottom:1px solid #E6E6E6; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-avatar { border-right:2px solid #FFFFFF; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-regdate-head{ border-bottom:1px solid #E6E6E6; }
#wpforo-wrap .wpforo-members-wrap td.wpf-members-foot { border-top:1px solid #E6E6E6; }

#wpforo-wrap .wpforo-register-wrap .wpforo-register-content { border-top:#666666 1px solid; border-bottom:#CCCCCC 1px solid; padding: 40px 1%; }
#wpforo-wrap .wpforo-register-wrap .wpforo-register-content h3{color:#343434}
#wpforo-wrap .wpforo-login-wrap .wpforo-login-content { border-top:#666666 1px solid; border-bottom:#CCCCCC 1px solid; padding: 40px 1%; }
#wpforo-wrap .wpforo-login-wrap .wpforo-login-content .wpforo-login-table{ padding:1%; }
#wpforo-wrap .wpforo-login-wrap .wpforo-login-content .wpforo-login-table .wpf-field{border-bottom:none;}
#wpforo-wrap .wpforo-login-wrap .wpforo-login-content h3{color:#343434}

#wpforo-wrap .wpforo-404-wrap .wpforo-404-content { border-top:#E6E6E6 1px solid; border-bottom:#E6E6E6 1px solid; }
#wpforo-wrap .wpforo-404-wrap .wpf-search-box { border:#CCCCCC 1px dashed; }

#wpforo-wrap #wpforo-search-title { color:#333333; }
#wpforo-wrap .wpforo-search-wrap .wpf-search-bar{ background:#F5F5F5; border:#E6E6E6 1px solid; }
#wpforo-wrap .wpforo-search-wrap .wpf-search-bar .wpfltd{ border-bottom:1px dotted #FFFFFF; }
#wpforo-wrap .wpforo-search-wrap .wpf-search-bar .wpfrtd{ border-bottom:1px dotted #FFFFFF; }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content { border-bottom:#E6E6E6 1px solid; }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content .wpf-ptr{ border-bottom:#CCCCCC 1px solid;}
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content .wpf-htr{ background-color:#666666; color:#FFFFFF; }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content .wpf-ttr{ background:#F5F5F5 }
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content td.wpf-shead-icon{ border-right:1px solid #FFFFFF;}
#wpforo-wrap .wpforo-search-wrap .wpforo-search-content td.wpf-spost-icon { border-right:1px solid #FFFFFF;}

#wpforo-wrap #wpforo-recent-title { color:#333333; }
#wpforo-wrap .wpforo-recent-wrap .wpf-recent-bar{ background:#F5F5F5; border:#E6E6E6 1px solid; }
#wpforo-wrap .wpforo-recent-wrap .wpf-recent-bar .wpfltd{ border-bottom:1px dotted #FFFFFF; }
#wpforo-wrap .wpforo-recent-wrap .wpf-recent-bar .wpfrtd{ border-bottom:1px dotted #FFFFFF; }
#wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content { border-bottom:#E6E6E6 1px solid; }
#wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content .wpf-htr{ background-color:#666666; color:#FFFFFF; }
#wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content .wpf-ttr{ background:#F5F5F5 }
#wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content td.wpf-shead-icon{ border-right:1px solid #FFFFFF;}
#wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content td.wpf-spost-icon { border-right:1px solid #FFFFFF;}
#wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content td.wpf-stext{color:#666666}

#wpforo-wrap .wpf-action, .wpf-notifications .wpf-action{ color: #333333; }
#wpforo-wrap .wpf-action:hover, .wpf-notifications .wpf-action:hover{ cursor: pointer; color: #888888; }
#wpforo-wrap .wpf-action.wpforo-tools{ color: #FFFFFF; }
#wpforo-wrap .wpf-action.wpforo-tools:hover{ cursor: pointer; /*color: #DFF4FF;*/ }

#wpforo-wrap .wpf-navi .wpf-navi-wrap .wpf-page-info{ color:#666666; }
#wpforo-wrap .wpf-navi .wpf-navi-wrap .wpf-prev-button{ background:#666666; color:#FFFFFF; border: 1px solid #777777; }
#wpforo-wrap .wpf-navi .wpf-navi-wrap .wpf-next-button{ background:#666666; color:#FFFFFF; border: 1px solid #777777; }

#wpforo-wrap  #wpforo-stat-header{ background-color:#343434; color: #FFFFFF; border-bottom: 2px solid #CCCCCC;}
#wpforo-wrap  #wpforo-stat-body{ border:#E6E6E6 1px solid; background:#F5F5F5; }
#wpforo-wrap  #wpforo-stat-body .wpf-stat-data{ }
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item{border-right:1px solid #E6E6E6;}
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item i{color:#777777;}
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item .wpf-stat-value{color:#777777;}
#wpforo-wrap  #wpforo-stat-body .wpf-stat-item .wpf-stat-label{border-top:1px dotted #CCCCCC; color:#777777;}
#wpforo-wrap  #wpforo-stat-body .wpf-last-info i{color:#777777;}

#wpforo-wrap  #wpforo-stat-body .wpf-new i,
#wpforo-wrap  #wpforo-stat-body .wpf-all-read i{color:#555555;}

#wpforo-wrap .widget-title,
.wpforo-widget-wrap .widget-title{ border-bottom:2px solid #E6E6E6;}
#wpforo-wrap .wpforo-widget-wrap .wpforo-widget-content li,
.wpforo-widget-wrap .wpforo-widget-content li{ border-bottom:1px dotted #CCCCCC; }

.wpforo-widget-wrap .wpf-widget-tags li{border:none!important;}
.wpforo-widget-wrap .wpf-widget-tags li a{border-color:#888888!important; }
.wpforo-widget-wrap .wpf-widget-tags li span{border:1px solid #888888!important; background-color: #888888!important;color: #FFFFFF!important;}
.wpforo-widget-wrap .wpf-widget-tags li a:hover{background-color: #888888!important;color: #FFFFFF!important;}
.wpforo-widget-wrap .wpf-prof-footer .wpf-prof-buttons a:hover{background: #888888!important;}

.ui-dialog { z-index: 999998 !important; }
.wpf-video{	margin: 10px !important; }

.ui-dialog .ui-widget-header{  background-color: #666666!important; border-bottom:#CCCCCC 1px solid!important; }
.ui-dialog .ui-widget-header span.ui-dialog-title{ color: #FFFFFF !important; }
.ui-widget input[type="submit"]:hover{ background:#777777; }
.ui-widget input[type="submit"]{ background:#666666; color:#FFFFFF; border: 1px solid #777777; }

#wpforo-wrap .wpforo-topic-badges i.fa,
#wpforo-wrap .wpforo-topic-badges i.fas,
#wpforo-wrap .wpforo-topic-badges i.fab,
#wpforo-wrap .wpforo-topic-badges i.far,
#wpforo-wrap .wpforo-topic-badges i.fal { color: #666666; }

#wpf_multi_quote .wpf-multi-quote{color: #FFFFFF; background: #666666;}
body.wpf-dark #wpf_multi_quote .wpf-multi-quote{color: #333333;}

#wpf-msg-box a{color:#FFFFFF;}
#wpf-msg-box a:hover{color:#E6E6E6;}
#wpf-msg-box > p{color:#FFFFFF!important;background-color:#666666;background:-moz-linear-gradient(#666666);background:-o-linear-gradient(#666666);background:linear-gradient(#666666);}
#wpf-msg-box > p:after{border-color:transparent #666666;}

#wpf-msg-box > p.error{background-color:#F46464;background:-moz-linear-gradient(#F46464);background:-o-linear-gradient(#F46464);background:linear-gradient(#F46464);}
#wpf-msg-box > p.error:after{border-color:transparent #F46464;}
#wpf-msg-box > p.success{background-color:#00A636;background:-moz-linear-gradient(#00A636);background:-o-linear-gradient(#00A636);background:linear-gradient(#00A636);}
#wpf-msg-box > p.success:after{border-color:transparent #00A636;}

body.wpf-dark #wpf-msg-box > p, body.wpf-dark #wpf-msg-box a, body.wpf-dark #wpf-msg-box a:visited{color:#333333!important;}
body.wpf-dark #wpf-msg-box a:hover, body.wpf-dark #wpf-msg-box a:active{color:#888888!important;}

#wpforo-wrap .wpf-field { border-bottom: 1px solid #FFFFFF;}
#wpforo-wrap .wpf-field .wpf-label i{ color: #777777; }
#wpforo-wrap .wpf-field .wpf-field-wrap i{ color: #777777; }

#wpforo-wrap .wpf-field {border-bottom: 1px solid #FFFFFF;}
#wpforo-wrap .wpf-field .wpf-field-cl{ clear:both;}
#wpforo-wrap .wpf-field input {max-width: 100%;}
#wpforo-wrap .wpf-field input[type="text"],
#wpforo-wrap .wpf-field input[type="password"],
#wpforo-wrap .wpf-field input[type="email"],
#wpforo-wrap .wpf-field input[type="date"],
#wpforo-wrap .wpf-field input[type="number"],
#wpforo-wrap .wpf-field input[type="url"],
#wpforo-wrap .wpf-field input[type="tel"],
#wpforo-wrap .wpf-field textarea,
#wpforo-wrap .wpf-field select{ background-color: #fefefe; box-shadow: 0 0 2px 1px #E6E6E6;}
#wpforo-wrap .wpf-field input::-webkit-input-placeholder, #wpforo-wrap .wpf-field textarea::-webkit-input-placeholder  { color: #999999;}
#wpforo-wrap .wpf-field input::-moz-placeholder, #wpforo-wrap .wpf-field textarea::-moz-placeholder  {color: #999999;}
#wpforo-wrap .wpf-field input:-ms-input-placeholder, #wpforo-wrap .wpf-field textarea:-ms-input-placeholder  {color: #999999;}
#wpforo-wrap .wpf-field input:-moz-placeholder, #wpforo-wrap .wpf-field textarea:-moz-placeholder {color: #999999;}
#wpforo-wrap .wpf-field input[type="text"]:focus, #wpforo-wrap .wpf-field input[type="password"]:focus, #wpforo-wrap .wpf-field input[type="email"]:focus,#wpforo-wrap .wpf-field input[type="date"]:focus,#wpforo-wrap .wpf-field input[type="number"]:focus,#wpforo-wrap .wpf-field input[type="url"]:focus,#wpforo-wrap .wpf-field input[type="tel"]:focus,#wpforo-wrap .wpf-field textarea:focus,
#wpforo-wrap .wpf-field select:focus{ background-color:#feffe5; box-shadow: 0 0 10px 0 #777777; }
#wpforo-wrap .wpf-field .wpf-label i{ padding-right:5px; width:25px;}
#wpforo-wrap .wpf-field .wpf-field-wrap i{}
#wpforo-wrap .wpf-field .wpf-field-required-icon{color: #FF812D;}

#wpforo-wrap .wpf-table .wpfw-1 .wpf-field:nth-child(even) {background-color: #F5F5F5;}
#wpforo-wrap .wpf-acp-header{border-bottom: 1px dashed #666666;}
#wpforo-wrap .wpf-acp-header .wpf-acp-toggle i{color: #666666;}

#wpforo-wrap .wpf-tools {background: #F5F5F5; border-bottom:#E6E6E6 3px solid; outline:3px solid #FFFFFF;}
#wpforo-wrap .wpf-tools .wpf-tool-tabs .wpf-tool-tab{ border-bottom-color: #999999; }
#wpforo-wrap .wpf-tools .wpf-tool-tabs .wpf-tool-tab.wpf-tt-active{ border-top-color: #666666; color:#666666; }
#wpforo-wrap .wpf-tools .wpf-tool h3{ color: #E6E6E6}
#wpforo-wrap .wpf-tools .wpf-tool .wpf-tool-desc{ color: #999999;}
#wpforo-wrap .wpf-tools .wpf-tool li input[type="text"]{background: #FFFFFF;}
#wpforo-wrap .wpf-tools .wpf-tool .wpf-split-posts{background: #FFFFFF; border: 1px solid #DADADA; border-left: 3px solid #DADADA; }
#wpforo-wrap .wpf-tools .wpf-tool .wpf-split-posts ul li{border-bottom: 1px dotted #CCCCCC;}
#wpforo-wrap .wpf-tools .wpf-tool li input[type="text"]::placeholder {color: #CCCCCC; opacity: 1;}
#wpforo-wrap .wpf-tools .wpf-tool li input[type="text"]:-ms-input-placeholder {color: #CCCCCC;}
#wpforo-wrap .wpf-tools .wpf-tool li input[type="text"]::-ms-input-placeholder {color: #CCCCCC;}

#wpforo-wrap .wpf-sb-1{color:#CCCCCC;background-color:#F5F5F5;}
#wpforo-wrap .wpf-sb-2{color:#666666;background-color:#F5F5F5;}
#wpforo-wrap .wpf-sb-3{color:#CCCCCC;background-color:transparent;}
#wpforo-wrap .wpf-sb-4{color:#666666;background-color:transparent;}
#wpforo-wrap .wpf-sb .wpf-sb-buttons i{color: #CCCCCC;}
#wpforo-wrap .wpf-sb .wpf-sb-toggle .wpfsa{color:#666666!important;}
#wpforo-wrap .wpfl-1 .wpf-sb-right.wpf-sb-1,
#wpforo-wrap .wpfl-1 .wpf-sb-right.wpf-sb-2{border:1px solid #E6E6E6;}
#wpforo-wrap .wpfl-2 .wpf-sb-right, #wpforo-wrap .wpfl-3 .wpf-sb-right{ border-top:1px solid #E6E6E6;}
#wpforo-wrap .wpfl-2 .wpf-sb-left, #wpforo-wrap .wpfl-3 .wpf-sb-left{ background-color:transparent;}
#wpforo-wrap .wpf-sb.wpf-sb-top .wpf-sb-buttons{border-left: 1px dotted #333333;}
[dir="rtl"] #wpforo-wrap .wpf-sb.wpf-sb-top .wpf-sb-buttons{border-right: 1px dotted #333333; border-left:none;}
#wpforo-wrap .wpf-sb.wpf-sb-top.sb-tt-expanded .wpf-sb-buttons i{color:#333333;}
#wpforo-wrap .wpf-sbtn {color: #343434;}
#wpforo-wrap .wpf-sbtn .wpf-sbtn-title i{color: #999999;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-grey .wpf-sb-button{background: #aaaaaa; color: #ffffff; }
#wpforo-wrap .wpf-sbtn.wpf-sb-style-grey .wpf-sb-button.wpf-sb-icon{background: transparent; color: #777777; border: 1px solid #bbbbbb;}
#wpforo-wrap .wpf-sb .wpf-fb .wpfsa, #wpforo-wrap .wpf-sb .wpf-fb i:hover{ color: #4267b2!important;}
#wpforo-wrap .wpf-sb .wpf-tw .wpfsa, #wpforo-wrap .wpf-sb .wpf-tw i:hover{ color: #1DA1F2!important;}
#wpforo-wrap .wpf-sb .wpf-wapp .wpfsa, #wpforo-wrap .wpf-sb .wpf-wapp i:hover{ color: #1BD741!important;}
#wpforo-wrap .wpf-sb .wpf-lin .wpfsa, #wpforo-wrap .wpf-sb .wpf-lin i:hover{ color: #0A75B5!important;}
#wpforo-wrap .wpf-sb .wpf-gg .wpfsa, #wpforo-wrap .wpf-sb .wpf-gg i:hover{ color: #DB4437!important;}
#wpforo-wrap .wpf-sb .wpf-vk .wpfsa, #wpforo-wrap .wpf-sb .wpf-vk i:hover{ color: #4A76A8!important;}
#wpforo-wrap .wpf-sb .wpf-ok .wpfsa, #wpforo-wrap .wpf-sb .wpf-ok i:hover{ color: #EE8208!important;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-fb:hover{ background-color: #4267b2; border-color: #4267b2; color: #fff;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-tw:hover{ background-color: #1DA1F2; border-color: #1DA1F2; color: #fff;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-lin:hover{ background-color: #0A75B5; border-color: #0A75B5; color: #fff;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-wapp:hover{ background-color: #1BD741; border-color: #1BD741; color: #fff;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-gg:hover{ background-color: #DB4437; border-color: #DB4437; color: #fff;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-vk:hover{ background-color: #4A76A8; border-color: #4A76A8; color: #fff;}
#wpforo-wrap .wpf-sbtn .wpf-sb-button.wpf-ok:hover{ background-color: #EE8208; border-color: #EE8208; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-fb{ background-color: #4267b2; border-color: #4267b2; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-tw{ background-color: #1DA1F2; border-color: #1DA1F2; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-wapp{ background-color: #1BD741; border-color: #1BD741; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-lin{ background-color: #0A75B5; border-color: #0A75B5; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-gg{ background-color: #DB4437; border-color: #DB4437; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-vk{ background-color: #4A76A8; border-color: #4A76A8; color: #fff;}
#wpforo-wrap .wpf-sbtn.wpf-sb-style-colored .wpf-sb-button.wpf-ok{ background-color: #EE8208; border-color: #EE8208; color: #fff;}
#wpforo-wrap .wpforo-revisions-wrap{border-color: #E6E6E6;}
#wpforo-wrap .wpforo-revisions-wrap *{border-color: #666666 !important;}
#wpforo-wrap .wpforo-revision{background-color: #F5F5F5; box-shadow: 0 0 4px #CCCCCC;}
#wpforo-wrap .wpforo-revision .wpforo-revision-top{color: #666666;}
#wpforo-wrap .wpforo-revisions-wrap .wpforo-revision-body{background-color: #FFFFFF; color: #343434;}
#wpforo-wrap.wpf-dark .wpforo-revision .wpforo-revision-top{color: #999999;}
#wpforo-wrap.wpf-dark .wpforo-revisions-wrap .wpforo-revision-body{background-color: #E6E6E6; color: #333333;}

@media screen and (max-width:600px) {
	#wpforo-wrap #wpforo-menu .wpf-menu{background-color:#343434;}
	#wpforo-wrap .wpfl-1 .wpforo-post .wpf-right .wpforo-post-content-top{border-top: 1px solid #E6E6E6; }
}

#wpforo-wrap.wpf-dark { color: #333333; }
#wpforo-wrap.wpf-dark .wpfcl-3{ color:#333333!important; }
#wpforo-wrap.wpf-dark .wpfcl-1{ color:#333333!important; }
#wpforo-wrap.wpf-dark .wpfcl-4{ color:#333333!important; }
#wpforo-wrap.wpf-dark .wpf-action{ color: #333333; }
#wpforo-wrap.wpf-dark .wpforo-post .wpforo-post-content p{ color:#333333; }
#wpforo-wrap.wpf-dark #wpforo-menu li a { color: #333333; }
#wpforo-wrap.wpf-dark .wpfl-2 .head-stat-lastpost, #wpforo-wrap.wpf-dark .wpfl-3 .head-stat-lastpost{ color: #333333; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-last-post{ color: #333333; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-topic-stat-lastpost, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-topic-stat-lastpost{ color: #333333; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-forum-description, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-forum-description{ color: #333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .cat-title, #wpforo-wrap.wpf-dark .wpfl-2 .cat-title, #wpforo-wrap.wpf-dark .wpfl-3 .cat-title{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-category div, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-category div, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-category div, #wpforo-wrap.wpf-dark .wpfl-4 .wpforo-category div{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-last-topic-date, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-last-topic-date, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-last-topic-date{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-topic-stat-posts, #wpforo-wrap.wpf-dark .wpfl-1 .wpforo-topic-stat-views{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-topic-stat-posts, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-topic-stat-views{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-3 .wpforo-topic-stat-posts, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-topic-stat-views{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-last-post-date, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-last-post-date, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-last-post-date{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .head-title, #wpforo-wrap.wpf-dark .wpfl-2 .head-title, #wpforo-wrap.wpf-dark .wpfl-3 .head-title{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .head-stat-posts, #wpforo-wrap.wpf-dark .wpfl-2 .head-stat-posts, #wpforo-wrap.wpf-dark .wpfl-3 .head-stat-posts{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .head-stat-views, #wpforo-wrap.wpf-dark .wpfl-2 .head-stat-views, #wpforo-wrap.wpf-dark .wpfl-3 .head-stat-views{ color:#333333; }
#wpforo-wrap.wpf-dark .wpfl-1 .wpforo-post .wpf-left, #wpforo-wrap.wpf-dark .wpfl-2 .wpforo-post .wpf-left, #wpforo-wrap.wpf-dark .wpfl-3 .wpforo-post .wpf-left{ color:#333333; }
#wpforo-wrap .wpfl-1 .wpforo-post .wpf-right .wpforo-post-content-top, #wpforo-wrap .wpfl-2 .wpforo-post .wpf-right .wpforo-post-content-top, #wpforo-wrap .wpfl-3 .wpforo-post .wpf-right .wpforo-post-content-top{ color:#333333; }
#wpforo-wrap .wpfl-3 .wpforo-forum-stat-questions, #wpforo-wrap .wpfl-3 .wpforo-forum-stat-answers, #wpforo-wrap .wpfl-3 .wpforo-forum-stat-posts{ color:#333333; }
#wpforo-wrap.wpf-dark #wpforo-stat-header{ color: #333333; border-bottom: 1px solid #CCCCCC;}
#wpforo-wrap.wpf-dark .wpf-button{ color:#333333!important; }
#wpforo-wrap.wpf-dark .wpf-topic-create .wpf-subject{background-color:#333333}
#wpforo-wrap.wpf-dark .wpf-topic-create{background-color:#F5F5F5}
#wpforo-wrap.wpf-dark .wpf-topic-create div.mce-toolbar-grp{background-color:#F5F5F5}
#wpforo-wrap.wpf-dark .wpf-post-create .wpf-subject{background-color:#333333}
#wpforo-wrap.wpf-dark #wpf-post-create{background-color:#F5F5F5}
#wpforo-wrap.wpf-dark #wpf-post-create div.mce-toolbar-grp{background-color:#F5F5F5}
#wpforo-wrap.wpf-dark input[type="submit"], #wpforo-wrap.wpf-dark input[type="button"]{color:#333333!important;}
#wpforo-wrap.wpf-dark input[type="text"], #wpforo-wrap.wpf-dark input[type="search"], #wpforo-wrap.wpf-dark input[type="email"], #wpforo-wrap.wpf-dark input[type="date"], #wpforo-wrap.wpf-dark input[type="number"], #wpforo-wrap.wpf-dark input[type="url"], #wpforo-wrap.wpf-dark input[type="tel"], #wpforo-wrap.wpf-dark input[type="password"], #wpforo-wrap.wpf-dark input[type="email"], #wpforo-wrap.wpf-dark textarea, #wpforo-wrap.wpf-dark select{color:#343434;background-color:#333333;}
#wpforo-wrap.wpf-dark input[type="text"].wpf-search-field{background-color:transparent; color:#333333; }
#wpforo-wrap.wpf-dark .wpf-field input::-webkit-input-placeholder, #wpforo-wrap.wpf-dark .wpf-field textarea::-webkit-input-placeholder  { color: #CCCCCC;}
#wpforo-wrap.wpf-dark .wpf-field input::-moz-placeholder, #wpforo-wrap.wpf-dark .wpf-field textarea::-moz-placeholder  {color: #CCCCCC;}
#wpforo-wrap.wpf-dark .wpf-field input:-ms-input-placeholder, #wpforo-wrap.wpf-dark .wpf-field textarea:-ms-input-placeholder  {color: #CCCCCC;}
#wpforo-wrap.wpf-dark .wpf-field input:-moz-placeholder, #wpforo-wrap.wpf-dark .wpf-field textarea:-moz-placeholder {color: #CCCCCC;}
#wpforo-wrap.wpf-dark #wpforo-stat-body{border:none;}
#wpforo-wrap.wpf-dark .wpforo-members-content table tr{ background-color:#F5F5F5!important; }
#wpforo-wrap.wpf-dark .wpforo-profile-wrap .profile-rating-bar-wrap{background:none;}
#wpforo-wrap.wpf-dark .wpforo-profile-wrap .wpforo-profile-head{border:none;}
#wpforo-wrap.wpf-dark .wpf-field:nth-child(even) {background-color: #F5F5F5;}
#wpforo-wrap.wpf-dark .wpf-field .wpf-field-wrap { color:#777777}
#wpforo-wrap.wpf-dark .wpf-field .wpf-field-wrap i{ color:#CCCCCC}
#wpforo-wrap.wpf-dark .wpf-table .wpfw-1 .wpf-field:nth-child(even) {background-color: #CCCCCC;}
#wpforo-wrap.wpf-dark .wpforo-login-wrap .wpforo-table .wpfw-1 .wpf-field:nth-child(even){background-color: transparent;}
#wpforo-wrap.wpf-dark .wpforo-profile-head .wpforo-active { color:#FFFFFF!important;}
#wpforo-wrap.wpf-dark .wpf-profile-section .wpf-statbox .wpf-statbox-value{color:#777777}
#wpforo-wrap.wpf-dark #wpf-post-create {border: none;}
#wpforo-wrap.wpf-dark .wpf-topic-create {border: none;}
#wpforo-wrap.wpf-dark #wpforo-description{color:#777777}
#wpforo-wrap.wpf-dark .wpforo-login-wrap .wpforo-login-table{background-color: transparent;}
#wpforo-wrap.wpf-dark .wpforo-login-wrap .wpforo-login-content > h3, #wpforo-wrap.wpf-dark .wpforo-register-wrap .wpforo-register-content > h3{color:#777777}
#wpforo-wrap.wpf-dark .wpf-tools .wpf-tool .wpf-split-posts{background: #666666; border:none; }
#wpforo-wrap.wpf-dark .wpf-tools .wpf-tool .wpf-split-posts ul li{border-bottom: 1px dotted #333333;}
#wpforo-wrap.wpf-dark .wpf-tools .wpf-tool li input[type="text"]{background: #DADADA;}
#wpforo-wrap.wpf-dark .wpf-sbtn .wpf-sbtn-title{ color: #777777}
#wpforo-wrap.wpf-dark .wpf-sbtn.wpf-sb-style-grey .wpf-sb-button {background: #666666;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-cat-forum-list .wpf-forum-item a{color: #777777;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-cat-forum-list .wpf-forum-item a:hover{color: #333333;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-cat-forum-list .wpf-forum-item .wpf-forum-item-stat{color: #777777;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-threads-head .wpf-head-box{color: #777777;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-thread-users a img{background:#333333}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-thread-box{color: #555555;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-cat-forum-list .wpf-forum-item, #wpforo-wrap.wpf-dark .wpfl-4 .wpf-head-bar{border-bottom: 1px solid #E6E6E6;}
#wpforo-wrap.wpf-dark .wpf-button{box-shadow: none;}
#wpforo-wrap.wpf-dark .wpf-circle {background:#777777}
#wpforo-wrap.wpf-dark .wpf-member-title.wpfut{border:none;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-content-foot .wpf-reply .wpf-action {background: #999999;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-child-post .wpf-reply-content {border: 1px solid #F5F5F5; background-color: #CCCCCC;}
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-child-post .wpf-content-foot { border-top: #999999 1px solid; }
#wpforo-wrap.wpf-dark .wpfl-4 .wpf-child-post .wpf-reply-content .wpf-reply-tree .wpf-tree-item.wpf-starter .avatar {background-color: #333333; border: 1px solid #FF812D; }
#wpforo-wrap.wpf-dark .wpforo-sbn-content .wpf-sbs-bulk-options .wpf-sbs-checkbox{color: inherit;}
#wpforo-wrap.wpf-dark .wpforo-portable-form-wrap{background-color:#F5F5F5}
#wpforo-wrap.wpf-dark .wpforo-portable-form-wrap div.mce-toolbar-grp, #wpforo-wrap .wpforo-portable-form-wrap div.mce-menubar{background-color:#F5F5F5}
#wpforo-wrap.wpf-dark .wpf-spoiler-wrap {background-color: #444444;}
#wpforo-wrap.wpf-dark .wpf-navi .wpf-navi-wrap .wpf-next-button, #wpforo-wrap.wpf-dark .wpf-navi .wpf-navi-wrap .wpf-prev-button{color: #777777;}
#wpforo-wrap.wpf-dark .wpfl-2 .wpforo-forum-info{color: #777777;}
#wpforo-wrap.wpf-dark .wpforo-profile-wrap .h-bottom .wpf-profile-menu:hover{color:#333333; }
#wpforo-wrap.wpf-dark .wpforo-recent-wrap .wpforo-recent-content .wpf-htr{ color:#333333; }
#wpf-widget-profile.wpf-dark .wpf-prof-footer .wpf-prof-buttons a:not(:last-child){color:#FFFFFF; background:#333333;}
#wpforo-wrap.wpf-dark .wpf-notifications .wpf-notification-content li a,
#wpf-widget-profile.wpf-dark .wpf-notifications .wpf-notification-content li a{color:#666666;}
#wpforo-wrap.wpf-dark .wpf-notifications .wpf-notification-content li:hover,
#wpf-widget-profile.wpf-dark .wpf-notifications .wpf-notification-content li:hover{background:#333333;}
#wpforo-wrap.wpf-dark .wpf-acp-title {background: #000; color: #fff;}
#wpforo-wrap.wpf-dark .wpf-acp-content {background: #000;color: #999;}
#wpforo-wrap.wpf-dark .wpf-acp-footer {background: #000;border-top: 1px dashed #777;}
#wpforo-wrap.wpf-dark .wpf-acp-content a.wpf-button-secondary {box-shadow: 0px 0px 5px #999;background: #777;}
#wpforo-wrap.wpf-dark .wpf-acp-content a.wpf-button-secondary:hover {box-shadow: 0px 0px 8px #fff;color: #fff;}
#wpforo-wrap.wpf-dark .wpf-acp-footer a.wpf-button-secondary {background: #777;color: #fff;}
#wpforo-wrap.wpf-dark .wpf-acp-footer a.wpf-button-secondary:last-child{color: #fff!important; background: #e22d00;}
#wpforo-wrap {
   font-size: 13px; width: 100%; padding:10px 20px; margin:0px;
}